.no-row {
    margin-bottom: -20px;
}

.font-purista {
    font-family: Purista, sans-serif;
}

.img-mission {
    max-width: 600px;
    max-height: 400px;
}

.card .card-content p {
    margin-bottom: 20px;
}

footer {
    position: absolute;
    width: 100%;
    bottom: 0px;

}

footer.page-footer {
    margin-top: 0px;
    padding-top: 0px;
}

@font-face {
    font-family: "Purista";
    src: local(Purista Bold), url("../fonts/purista/Purista Bold.otf");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "Purista";
    src: local(Purista Medium), url("../fonts/purista/Purista Medium.otf");
    font-weight: normal;
    font-style: normal;
}

html {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    position: relative;
    min-height: 100%;
}

main {
    flex: 1 0 auto;
}