.hlp-right-t {
    margin-right: 10px;
}

.hlp-left-t {
    margin-left: 10px;
}

.hlp-top-t {
    margin-top: 10px;
}

.hlp-bottom-t {
    margin-bottom: 10px;
}

.hlp-bottom-m {
    margin-bottom: 20px;
}

.hlp-bottom-l {
    margin-bottom: 50px;
}

.hlp-padding-m {
    padding: 20px;
}